* {
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.contain {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    width: 85%;
    align-items: center;
}

.logo {

    width: 130px;
}

.linkitems {
    display: inline-block;
    margin: 10px 20px;

}

.links {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* pseudo class*/

.links:hover {
    color: red;

}

.title {
    margin-left: 13%;
    margin-top: 8%;

}

.title_h1 {
    font-size: 45px;
    margin-bottom: 20px;
}

.download {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

.images {
    position: absolute;
    width: 45%;
    height: 80%;
    bottom: 0px;
    right: 30px;
}

.images img {
    position: absolute;
    height: 100%;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    transition: bottom 1s, left 2s;
}

.images:hover #shape {
    bottom: 70px;
}

.images:hover #girl {
    left: 40%
}

#about {
    margin: 25% 8% 0px 8%;
}

.heading {
    text-align: center;
}

.heading h2 {
    font-size: 30px;
}

.heading span {
    font-size: 20px;
    color: green;
}

.about_content {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 1fr=255px */
    gap: 10px;
    margin-top: 2rem;

}

.about_image img {
    border-radius: 1rem;
    width: 80%;
}

.about_details {
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}

.Information {
    margin-top: 2rem;
}

html {
    scroll-behavior: smooth;
}

.info-box {
    margin-bottom: 1rem;
}

.info-box span {
    margin-left: 1rem;
}

.skill_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 1fr=255px */
    gap: 2rem;

}

.skill-img img {
    width: 85%;
    padding-left: 4rem;
}

.bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem opx;
    margin-bottom: 1rem;
    position: relative;

}

#skill {
    margin: 8% 8% 0% 8%;
}

.base-bar {
    width: 100%;
    height: 0.5rem;
    background-color: black;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
}

.html-bar {

    background-color: #ffa500;
    width: 95%;

}

.css-bar {
    background-color: #ffa500;
    width: 88%;

}

.js-bar {
    background-color: #ffa500;
    width: 88%;
}

.react-bar {
    background-color: #ffa500;
    width: 85%;
}

.contacts-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;


}

.icon,
.up-arrow {
    width: 50px;
    height: 50px;
    /* border: 1px solid black; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;

}

.icon i {
    color: black;
}

.icon:hover i {
    color: white;
    animation: shake 0.75s;

}

@keyframes shake {
    10% {
        transform: rotate(15deg)
    }

    20% {
        transform: rotate(-15deg)
    }

    30% {
        transform: rotate(15deg)
    }

    40% {
        transform: rotate(-15deg)
    }

}

.icon:hover {
    background-image: linear-gradient(to bottom right, yellow, red);
}

footer {
    margin: 3rem 0px;
}

.up-arrow {
    float: right;
    background-image: linear-gradient(to bottom right, yellow, red);
    margin: 0px 10px 50px 0px;


}

.up-arrow:hover i {
    color: white;}